.PokemonEvolutionChainItem {
  --size: 85px;
  width: var(--size);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pokemon-sprite {
  object-fit: contain;
  cursor: pointer;
}

.sprite-label {
  font-size: 14px;
  color: gray;
}
